.button {
    @include h2-web;
    padding: 1.25rem 1.875rem;
    color: $white;
    background: $gradient;
    border-radius: 0.9375rem;
    border: 0;
    cursor: pointer;
    &:hover {
        box-shadow: 3px 7px 18px #FF6B00;
    }
    &_pressed {
        background: $button-pressed;
    }
    &_disabled {
        background: $button-disabled;
    }
}

@media screen and (max-width: 540px) {
    .button {
        @include large-mob;
        width: 100%;
        padding: 0.9375rem 0;
    }
}