.about {
    color: $black;
    background-color: $white;
    padding: 12.5rem 0;
    &__container {
        @include flex(row, center, space-between);
        position: relative;
    }
    &__blob {
        width: 43%;
        position: relative;
        top: 0;
        left: 0;
    }
    &__image {
        width: 32%;
        position: absolute;
        top: 16%;
        left: 6%;
    }
    &__info {
        @include flex(column, flex-start, center);
        width: 48.65%;
        padding: 2.5rem 2.5rem 3.125rem 3.125rem;
        border-radius: 20px;
        border: 2px solid transparent;
        background: linear-gradient($white, $white) padding-box, $gradient border-box;
    }
    &__title {
        @include h1-web;
    }
    &__subtitle {
        @include h2-web;
        margin: 1.25rem 0;
    }
    &__paragraph {
        @include main-web;
    }
}
