.form {
    color: $black;
    background-color: $white;
    padding: 3.75rem 0 9rem;
    position: relative;
    &__title {
        @include h1-web;
    }
    &__subtitle {
        @include large-web;
        width: 66%;
        margin-top: 1.875rem;
        span {
            color: $button-pressed;
        }
    }
    &__inputs {
        @include flex(column, flex-start, flex-start);
        margin-top: 2.5rem;
    }
    &__input {
        margin-bottom: 1.875rem;
    }
    &__blob {
        width: 40%;
        position: absolute;
        right: 5%;
        top: 10rem;
    }
    &__drone {
        width: 35%;
        position: absolute;
        right: 7.3%;
        top: 11.25rem;
    }
}

@media screen and (max-width: 540px) {
    .form {
        padding: 1.875rem 0 2.1875rem;
        &__title {
            @include h1-mob;
        }
        &__subtitle {
            @include large-mob;
            width: 100%;
            margin-top: 0.625rem;
            span {
                color: $black;
            }
        }
        &__inputs {
            width: 100%;
            margin-top: calc(-53vw + 2.1875rem);
        }
        &__input {
            margin-bottom: 0.75rem;
            &:last-child {
                margin-bottom: 1rem;
            }
        }
        &__blob {
            width: 86%;
            position: relative;
            left: 9%;
            top: 6.7vw;
        }
        &__drone {
            width: 84%;
            position: relative;
            left: 9%;
            top: -53vw;
        }
    }
}