.header {
    color: $white;
    background-color: $black;
    padding-bottom: 8.75rem;
    position: relative;
    overflow: hidden;
    &__navbar {
        @include flex(row, center, space-between);
        height: 8.125rem;
    }
    &__logo {
        width: 17%;
    }
    &__links {
        @include flex(row, center, space-between);
        width: 74.4%;
        list-style: none;
    }
    &__link {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.5rem;
        text-transform: uppercase;
        a {
            color: $white;
            text-decoration: none;
        }
    }
    &__container {
        @include flex(column, flex-start, flex-start);
        width: 56.3%;
        margin-top: 4rem;
    }
    &__title {
        @include h1-web;
        span {
            background: $gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &__subtitle {
        @include h2-web;
        margin-top: 1.25rem;
        margin-bottom: 2.1875rem;
    }
    &__drone {
        width: 40%;
        position: absolute;
        top: 9.5rem;
        right: 0;
        z-index: 2;
    }
    &__blob {
        width: 42%;
        position: absolute;
        top: 6rem;
        right: 0;
    }
}
