.header {
    color: $white;
    background-color: $black;
    padding-bottom: 8.75rem;
    position: relative;
    overflow: hidden;
    &__navbar {
        @include flex(row, center, space-between);
        padding: 1.875rem 0;
    }
    &__logo {
        width: 17%;
    }
    &__links {
        @include flex(row, center, space-between);
        width: 74.4%;
        list-style: none;
    }
    &__link {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.5rem;
        text-transform: uppercase;
        a {
            color: $white;
            text-decoration: none;
        }
    }
    &__burger {
        display: none;
        width: 1.875rem;
        height: 1.25rem;
        .dash {
            width: 100%;
            border: 1px solid $white;
        }
    }
    &__container {
        @include flex(column, flex-start, flex-start);
        width: 56.3%;
        margin-top: 4rem;
    }
    &__title {
        @include h1-web;
        span {
            background: $gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &__subtitle {
        @include h2-web;
        width: 70%; 
        margin-top: 1.25rem;
        margin-bottom: 2.1875rem;
    }
    &__drone {
        width: 48.3%;
        position: absolute;
        top: 9.5rem;
        right: -8%;
        z-index: 2;
    }
    &__blob {
        height: 37rem;
        position: absolute;
        top: 6rem;
        right: -7%;
    }
}

@media screen and (max-width: 375px) {
    .header {
        padding-bottom: 3.4375rem;
        &__navbar {
            @include flex(row, center, space-between);
            padding: 1.4375rem 0;
        }
        &__links {
            display: none;
        }
        &__burger {
            @include flex(column, center, space-between);
        }
        &__logo {
            width: 30%;
        }
        &__container {
            width: 100%;
            margin-top: 0.625rem;
        }
        &__title {
            @include h1-mob;
        }
        &__subtitle {
            @include h2-mob;
            width: 100%;
            margin-bottom: 22.5rem;
        }
        .button {
            @include large-mob;
            padding: 1.25rem 5.15625rem;
        }
        &__drone {
            width: 87%;
            position: absolute;
            top: 23rem;
            right: 5%;
            z-index: 2;
        }
        &__blob {
            height: 18rem;
            position: absolute;
            top: 21rem;
            right: 5%;
        }
    }
}
